body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.centrar {
  margin: 0 auto;
  max-width: 1360px;
}

.califest-header-prin {
  background-color: #f734bf;
}

.califest-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.califest-header__logo {
  padding-left: 5em;
}

.califest-header__nav {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  padding-right: 5em;
}

.califest-header__items {
  display: inline;
}

.califest-header__item {
  display: inline-block;
  padding-left: 2em;
}

.califest-header__items li:hover {
  font-size: 150%;
}

.contenedor-uno {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  width: 100%;
}

.contenedor-uno__fondo {
  min-height: 580px;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.contenedor-uno__boton {
  margin: 0;
  font-size: 10px;
  width: 200px;
  padding: 2px;
  background-color: #f8cc06;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.contenedor-uno__boton h1 {
  padding: 5px;
  margin: 0;
}

.contenedor-uno__slogan {
  font-size: 5em;
  color: white;
}

.contenedor-uno__slogan p {
  margin: 0;
  padding: 0;
}

.contenedor-dos {
  margin: 0;
  padding: 0;
  height: 370px;
  width: 100%;
  background-image: url("../images/fondo3.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contenedor-dos__video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contenedor-dos__video video {
  width: 80%;
  height: 100%;
}

.contenedor-dos__descripcion {
  margin: 0;
  padding: 0;
  font-size: 80px;
  position: relative;
}

.contenedor-dos__descripcion p {
  padding: 0;
}

.contenedor-dos__fecha {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: relative;
}

.contenedor-dos .call-action {
  margin: 0;
  padding: 0;
}

.contenedor-tres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 384px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-tres__about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/about.png");
  background-position: center;
  background-size: cover;
}

.contenedor-tres__news {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("../images/news.png");
}

.contenedor-tres__titulo {
  position: relative;
  font-size: 50px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-tres__about:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 209, 231, 0.5)), to(rgba(243, 17, 224, 0.5))), url("../images/about.png");
  background-image: linear-gradient(rgba(25, 209, 231, 0.5), rgba(243, 17, 224, 0.5)), url("../images/about.png");
}

.contenedor-tres__about:hover h1 {
  font-size: 70px;
}

.contenedor-tres__news:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 209, 231, 0.5)), to(rgba(243, 17, 224, 0.5))), url("../images/news.png");
  background-image: linear-gradient(rgba(25, 209, 231, 0.5), rgba(243, 17, 224, 0.5)), url("../images/news.png");
}

.contenedor-tres__news:hover h1 {
  font-size: 70px;
}

.contenedor-cuatro {
  width: 100%;
  height: 100%;
}

.contenedor-cuatro__titulo {
  height: 5em;
  background-color: #067BC0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contenedor-cuatro__titulo h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.contenedor-cuatro__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 1600px;
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-cuatro__imagen {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  margin: 50px;
  background: red;
}

.contenedor-cuatro__imagen:hover .imagen:first-of-type {
  display: none;
}

.contenedor-cuatro__imagen:hover .imagen:last-child {
  display: block;
}

.contenedor-cuatro__imagen .imagen:last-child {
  display: none;
}

.imagen {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding-top: 0em;
}

.contenedor-cinco {
  min-width: 100%;
}

.contenedor-cinco__titulo {
  height: 5em;
  background-color: #f734bf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contenedor-cinco__titulo h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.contenedor-cinco__fondo {
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 670px;
}

.header-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-video video {
  display: none;
}

.lista {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.lista__videos {
  display: inline;
}

.lista__videos__item {
  display: inline-block;
}

.lista__videos__item--uno {
  font-size: 40px;
}

.lista__videos__item--dos {
  font-size: 35px;
}

.lista__videos__item--tres {
  font-size: 30px;
}

.lista__videos__item--cuatro {
  font-size: 25px;
}

.lista__videos__item--cinco {
  font-size: 25px;
}

.tickets {
  width: 100%;
  height: 100%;
}

.tickets__titulo {
  height: 5em;
  background-color: #f8cc06;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tickets__titulo h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.tickets__general {
  height: 500px;
  background-color: black;
}

.tickets__vip {
  height: 500px;
  background-color: orange;
}

.galeria {
  width: 100%;
  height: 100%;
}

.galeria__titulo {
  height: 5em;
  background-color: #f8cc06;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.galeria__titulo h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.galeria__imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 1600px;
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria__item {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.3%;
          flex: 0 0 28.3%;
  margin: 0;
  padding: 0;
}

.item {
  height: 230px;
  background-size: cover;
  background-position: center;
  padding-top: 2em;
}

.galeria__item img:hover {
  height: 300px;
}

.galeria__item img:hover .galeria__item img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.galeria__item img:hover {
  height: 300px;
}

.footer-fondo {
  min-width: 100%;
  height: auto;
}

.footer-fondo__imagen {
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-fondo__barra {
  height: 5em;
  background-color: #f734bf;
}

.footer-fondo__boton {
  margin: 0;
  font-size: 10px;
  width: 200px;
  padding: 2px;
  background-color: #f8cc06;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.footer-fondo__boton h1 {
  padding: 5px;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */